[Unit]
Description=Telegram Trading Bot
Wants=valiant-brave.service
After=valiant-brave.service
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=%h/tellegramautotrade/telegram-trading-bot-svmfogo-valiant
Environment=NODE_ENV=production
EnvironmentFile=-%h/tellegramautotrade/telegram-trading-bot-svmfogo-valiant/env.env
ExecStart=%h/tellegramautotrade/telegram-trading-bot-svmfogo-valiant/scripts/start-bot.sh
Restart=always
RestartSec=10
RestartSteps=6
RestartMaxDelaySec=10min

[Install]
WantedBy=default.target
